.deserto {
  background-color: white;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.chao {
  background-image: url(../img/sprite.png);
  position: absolute;
  bottom: 0px;
  background-position-y: -78px;
  width: 1831px;
  height: 20px;
  z-index: 2;
}

.dino {
  background-image: url(../img/sprite.png);
  position: absolute;
  width: 66px;
  left: 20px;
  height: 70px;
  z-index: 3;
}

.nuvem {
  background-image: url(../img/sprite.png);
  background-position: -125px -2px;
  position: absolute;
  width: 70px;
  height: 20px;
  z-index: 2;
}

.estrela0 {
  background-image: url(../img/sprite.png);
  background-position: -956px -2px;
  position: absolute;
  width: 13px;
  height: 13px;
  z-index: 2;
}

.estrela1 {
  background-image: url(../img/sprite.png);
  background-position: -956px -15px;
  position: absolute;
  width: 13px;
  height: 13px;
  z-index: 2;
}

.estrela2 {
  background-image: url(../img/sprite.png);
  background-position: -956px -28px;
  position: absolute;
  width: 13px;
  height: 13px;
  z-index: 2;
}

/*Cactos pequenos*/
/*Um cacto*/
.cacto0 {
  background-image: url(../img/sprite.png);
  background-position: -335px -2px;
  position: absolute;
  width: 25px;
  height: 50px;
  z-index: 2;
}

.cacto1 {
  background-image: url(../img/sprite.png);
  background-position: -361px -2px;
  position: absolute;
  width: 24px;
  height: 50px;
  z-index: 2;
}

.cacto2 {
  background-image: url(../img/sprite.png);
  background-position: -386px -2px;
  position: absolute;
  width: 25px;
  height: 50px;
  z-index: 2;
}

/*Dois cactos*/
.cacto3 {
  background-image: url(../img/sprite.png);
  background-position: -335px -2px;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.cacto4 {
  background-image: url(../img/sprite.png);
  background-position: -361px -2px;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.cacto5 {
  background-image: url(../img/sprite.png);
  background-position: -386px -2px;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

/*Tres cactos*/
.cacto6 {
  background-image: url(../img/sprite.png);
  background-position: -335px -2px;
  position: absolute;
  width: 76px;
  height: 50px;
  z-index: 2;
}

.cacto7 {
  background-image: url(../img/sprite.png);
  background-position: -361px -2px;
  position: absolute;
  width: 75px;
  height: 50px;
  z-index: 2;
}

.cacto8 {
  background-image: url(../img/sprite.png);
  background-position: -386px -2px;
  position: absolute;
  width: 76px;
  height: 50px;
  z-index: 2;
}

/*Quatro cactos*/
.cacto9 {
  background-image: url(../img/sprite.png);
  background-position: -335px -2px;
  position: absolute;
  width: 101px;
  height: 50px;
  z-index: 2;
}

.cacto10 {
  background-image: url(../img/sprite.png);
  background-position: -361px -2px;
  position: absolute;
  width: 101px;
  height: 50px;
  z-index: 2;
}

.cacto11 {
  background-image: url(../img/sprite.png);
  background-position: -386px -2px;
  position: absolute;
  width: 101px;
  height: 50px;
  z-index: 2;
}

/*Cactos grandes*/
/*Um cacto*/
.cacto12 {
  background-image: url(../img/sprite.png);
  background-position: -490px -2px;
  position: absolute;
  width: 36px;
  height: 73px;
  z-index: 2;
}

.cacto13 {
  background-image: url(../img/sprite.png);
  background-position: -527px -2px;
  position: absolute;
  width: 35px;
  height: 73px;
  z-index: 2;
}

.cacto14 {
  background-image: url(../img/sprite.png);
  background-position: -565px -2px;
  position: absolute;
  width: 36px;
  height: 73px;
  z-index: 2;
}

/*Dois cactos*/
.cacto15 {
  background-image: url(../img/sprite.png);
  background-position: -490px -2px;
  position: absolute;
  width: 72px;
  height: 73px;
  z-index: 2;
}

.cacto16 {
  background-image: url(../img/sprite.png);
  background-position: -527px -2px;
  position: absolute;
  width: 74px;
  height: 73px;
  z-index: 2;
}

.cacto17 {
  background-image: url(../img/sprite.png);
  background-position: -565px -2px;
  position: absolute;
  width: 72px;
  height: 73px;
  z-index: 2;
}

/*Tres cactos*/
.cacto18 {
  background-image: url(../img/sprite.png);
  background-position: -490px -2px;
  position: absolute;
  width: 111px;
  height: 73px;
  z-index: 2;
}

.cacto19 {
  background-image: url(../img/sprite.png);
  background-position: -527px -2px;
  position: absolute;
  width: 111px;
  height: 73px;
  z-index: 2;
}

/*Quatro cactos*/
.cacto20 {
  background-image: url(../img/sprite.png);
  background-position: -490px -2px;
  position: absolute;
  width: 147px;
  height: 73px;
  z-index: 2;
}

.cacto21 {
  background-image: url(../img/sprite.png);
  background-position: -565px -2px;
  position: absolute;
  width: 149px;
  height: 73px;
  z-index: 2;
}

.ptero {
  background-image: url(../img/sprite.png);
  background-position: -198px -2px;
  position: absolute;
  width: 64px;
  height: 55px;
  z-index: 2;
}

.num {
  background-image: url(../img/sprite.png);
  background-position-y: -2px;
  position: absolute;
  width: 13px;
  height: 15px;
  z-index: 1;
}

.gover {
  background-image: url(../img/sprite.png);
  background-position: -970px -21px;
  position: absolute;
  width: 285px;
  height: 16px;
  z-index: 3;
  right: 369px;
  top: 142px;
}

.restart{
  background-image: url(../img/sprite.png);
  background-position: -2px -2px;
  position: absolute;
  width: 53px;
  height: 47px;
  z-index: 3;
  right: 486px;
  bottom: 60px;
}