<div class="container">
    <h1>Cursos</h1>
    {{#each cursos}}
    <li>{{nome}}</li>
    {{/each}}
    <br>
    <a class="btn btn-primary" href="../curso/create">Adicionar novo curso</a>
</div>