<div><h1>{{conteudo}}</h1></div>
<div>
    <p>Você já se encontrou em uma situação de conexão perdida, enfrentando uma tela em branco e um simpático dinossauro? Se sim, você conhece bem o nosso protagonista, o Dino, e o jogo que se desenrola nessa situação.</p>

    <p1>No nosso site, mergulhamos no cativante mundo do jogo do Dino, que se tornou um passatempo querido para milhões de pessoas em todo o mundo. Aqui, você vai descobrir tudo o que precisa saber sobre esse jogo simples, mas viciante, que ganhou um lugar especial em nossos corações.</p>
</div>