
.yellow{
    position: relative;
    top: -200px;
    left: 100px;
}
.red{
    position: relative;
    top: -350px;
    left: 200px;
}
.green{
    position: relative;
    top: -350px;
    left: 100px;
}